.CHEVAUCHE{background-color: black;}

/*S1*/
.MATHS4M062{background-color: red;}
.ALGAV{background-color: #DE9816;}
.DLP{background-color: #FF5E4D;}
.IL{background-color: #FFD700;}
.MLBDA{background-color: #318CE7;}
.LRC{background-color: #26619C;}
.NOYAU{background-color: #CC5500;}
.PSCR{background-color: #03224C;}
.AAGB{background-color: #9683EC;}
.ARCHI{background-color: #A91101;}
.ARCHI_EN{background-color: #A91101;}
.ARES{background-color: #0131B4;}
.BIMA_EN{background-color: #C7CF00;}
.BIMA{background-color: #C7CF00;}
.COMPLEX{background-color: #26C4EC;}
.ESA{background-color: rosybrown;}
.MAPSI{background-color: #87E990;}
.MOBJ{background-color: #FF0921;}
.MODEL{background-color: #CCCCFF;}
.MODEL_EN{background-color: #CCCCFF;}
.MOGPL{background-color: #E9383F;}
.RTEL{background-color: #25FDE9;}
.SIGNAL{background-color: #BEF574;}
.VLSI{background-color: #008E8E;}
.PROGRES{background-color: #87E990;}
.OUV_ANG{background-color: #C7CF00;}
.SC{background-color: #C7CF00;}
.COMNET_EN{background-color: #C7CF00;}
.IROUT_EN{background-color: #03224C;}
.PPAR_EN{background-color: #9683EC;}
.QCLG_QK4CS_EN{background-color: #A91101;}
.QPH4CS_EN{background-color: #A91101;}
.SIGCOM_EN{background-color: #0131B4;}


/*S2*/
.ANGLAIS{background-color:red;}
.ANGLAIS {background-color:red;}
.ANGLAIS_{background-color:red;}
.CONF{background-color:rosybrown;}
.ANUM{background-color: brown;}
.APS{background-color: rosybrown;}
.AR{background-color:royalblue;}
.AROB{background-color: cadetblue;}
.BIM{background-color: #C7CF00;}
.BMC{background-color:#26619C;}
.CA{background-color:#87E990;}
.CGE{background-color: #A61101;}
.COMNUM{background-color: #961101;}
.CPA{background-color: #DE9816;}
.CPS{background-color: #CC5500;}
.DALAS{background-color: crimson;}
.DJ{background-color:#9683EC ;}
.ECFA{background-color: #E9383F;}
.FLAG{background-color:#FF5E4D ;}
.FOSYMA{background-color:#BEF574 ;}
.FPGA{background-color: #008E8E;}
.HPC{background-color:#CCCCFF ;}
.IAMSI{background-color:#FF0921 ;}
.IHM{background-color:#26C4EC ;}
.IG3D{background-color:#0131B4 ;}
.IOC{background-color: #03224C;}
.ISEC{background-color: #CC5500;}
.QIINTRO{background-color:#BEF574 ;}
.ML{background-color: #318CE7;}
.MLL{background-color: #FFD700;}
.MMCN{background-color:orange ;}
.MULTI{background-color: #FFD700;}
.PAF{background-color: orchid;}
.PC2R{background-color:coral ;}
.PNL{background-color: cyan;}
.RITAL{background-color: crimson;}
.RP{background-color: chartreuse;}
.SAM{background-color: violet;}
.SAS{background-color: goldenrod;}
.SBAS{background-color: burlywood;}
.SRCS{background-color: tomato;}
.SFTR{background-color: lightpink;}
